{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>Category: {{ object.category.category_name }} </h2>
	<h3>{{ object.title }} - Version {{ object.version }}</h3>

	<table>
		<thead>
			<th>Document Type</th>
			<th>Owner</th>
			<th>Created Date</th>
			<th>Last Reviewed Date</th>
			<th>Last Modified Date</th>
			
		</thead>
		<tbody>
			<tr>
				<td>{{ object.document_type.document_type }}</td>
				<td>{{ object.owner.first_name }} {{ object.owner.last_name }}</td>
				<td>{{ object.created_date|date:'d/m/Y' }}</td>
				<td>{{ object.last_review_date|date:'d/m/Y' }}</td>
				<td>{{ object.last_modified_date|date:'d/m/Y' }}</td>
				
			</tr>
		</tbody>
	</table>
	{% if object.document_file %}
		<p><a href="{{ object.document_file.url }}">View Document</a></p>
	{% endif%}
	<section>
		<span class="image main"><img src="{% static  ''%}/images/{{object.id}}.png" alt="Can't show image!"/></span>
	</section>
	
	<div class="table-wrapper">
		<table>
			<thead>
				<tr>
					<th>Related Documents</th>
					<th>Relationship Strength</th>
				</tr>
			</thead>
			<tbody>
			    {% for relatedDoc in object.relatedDocs %}
				<tr>
					<td>{{relatedDoc.0}}</td>
					<td>{{relatedDoc.1}}</td>
				</tr>
			    {% endfor %}
			</tbody>
		</table>
	</div>
	<h3>Feature Words</h3>
	<p>{{ object.feature_words }}</p>
{% endblock %}

