<!DOCTYPE HTML>
{% load static %}

<html>
	<head>
		<title>Murdoch - Policy Index</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="//code.jquery.com/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet" />
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript" src="//cdn.rawgit.com/monim67/django-bootstrap-datepicker-plus/master/bootstrap_datepicker_plus/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>	<link rel="stylesheet" href="{% static "assets/css/main.css" %}" />
	</head>

    <body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="" class="logo"><strong>Murdoch University</strong> Policy Index</a>
								</header>

							<!-- Section -->
                            {% block content %}

                            {% endblock  %}

						</div>
					</div>


				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
								
									<ul>
										<li><a href="{% url 'home'%}">Homepage</a></li>
										<li><a href="{% url 'search'%}">Search Policy</a></li>
										<li><a href="{% url 'browse'%}">Browse Policy</a></li>
										{% if user.is_superuser %}
										<li><a href="{% url 'upload'%}">Upload Policy</a></li>
										<li><a href="/admin">Site Administration</a></li>
										{% endif %}
										<li><a href="/admin/logout">Log out</a></li> 
									</ul>									
								</nav>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Murdoch University. All rights reserved. Demo Images: <a href="{% static "https://unsplash.com" %}">Unsplash</a>. Design: <a href="{% static "https://html5up.net" %}">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static "assets/js/jquery.min.js" %}"></script>
			<script src="{% static "assets/js/browser.min.js" %}"></script>
			<script src="{% static "assets/js/breakpoints.min.js" %}"></script>
			<script src="{% static "assets/js/util.js" %}"></script>
			<script src="{% static "assets/js/main.js" %}"></script>

	</body>
</html>