{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Content -->
	<section>
		<header class="main">
			<h1>Browse Policy</h1>
		</header>
		<hr class="major" />
			<div class="row gtr-200">
				<div class="col-6 col-12-medium">	
                    <ul class="actions">
                        <li><a href="#" class="button">ADD</a></li>
                        <li><a href="#" class="button primary">DELETE</a></li>
                    </ul>
				</div>
			</div>
			<nav id="menu">
			<header class="major">
				<h2 id="elements">Category</h2>
			</header>
			{% for category in categories %}
				<ul>
					<li>
						<span class="opener">{{category.category_name}}</span>
						<ul>
							{% for document in documents %}
								{% if document.category.id == category.id %}
									<li><a href="{% url 'document-detail' document.id %}">{{document.title}}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</li>
				</ul>
			{% endfor %}
			</nav>
	</section>
{% endblock content %}
			