{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Content -->
    <section>
        <header class="main">
            <h1>Search Policy</h1>
        </header>
        <hr class="major" />
        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>
        <!-- Table -->
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Ver #</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>PDF</td>
                    <td>3</td>
                    <td>Acquisition of Artwork Procedure</td>
                </tr>
                <tr>
                    <td>PDF</td>
                    <td>3</td>
                    <td>Advertising Procedure</td>
                </tr>
                <tr>
                    <td>PDF</td>
                    <td>1</td>
                    <td>Art Board Terms of Reference</td>
                </tr>
                <tr>
                    <td>PDF</td>
                    <td>6</td>
                    <td>Brand Policy</td>
                </tr>
                <tr>
                    <td>PDF</td>
                    <td>6</td>
                    <td>Branding Use and Approvals Procedure</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
